html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #212121;
  color: white;
}

.main-container {
  padding-bottom: 5rem;
}

nav {
  position: fixed;
  overflow: hidden;
  background: linear-gradient(0deg, #a32e2e 0%, rgba(33, 33, 33, 1) 100%);
  bottom: 0;
  width: 100%;
  z-index: 5;
}

nav #myLinks {
  display: flex;
  justify-content: space-around;
}

nav #myLinks a h4 {
  font-family: "Staatliches", cursive;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: linear-gradient(180deg, #a32e2e 0%, rgba(102, 39, 39, 0) 100%);
  position: relative;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header a h1 {
  font-family: "Underdog", cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.contact-container {
  position: relative;
  font-family: "Staatliches", cursive;
  margin: auto;
  padding: 0;

  text-align: center;
  width: 80%;
  height: 750px;
  letter-spacing: 0.1rem;
}

.contact-container::before {
  background: none;
}

.contact-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  place-items: center;
  height: 100%;
}

.item-b {
  display: none;
}

.contact-headers h2 {
  margin-top: 0;
  font-size: 2.8rem;
  padding: 0;
}

.message-form input,
textarea,
button {
  position: relative;
  padding: 0.8rem;
  margin: 1.5rem auto;

  background: #212121;
  color: white;
  border: 5px solid #e5e5e5;
  outline: none;
  border-radius: 25px;
  width: 175px;

  font-family: sans-serif;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  transition: ease-in-out 0.3s;
}

.message-form {
  position: relative;
  padding: 2rem;
  width: 75%;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.message-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/wood-_texture.jpg);
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(1) brightness(0.75);
}

.message-form input:focus,
textarea:focus {
  background-color: black;
}

.message-form textarea {
  height: 125px;
}

.message-form label {
  font-size: 1.2rem;
  position: relative;
}

.message-form button {
  box-sizing: content-box;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: white;
  border: 5px solid #a32e2e;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.message-form button:hover {
  background: black;
}

.contact-details h2,
address {
  padding: 0.5rem;
  font-size: 1.3rem;
  font-style: normal;
}

.contact-details h2 a {
  color: white;
  font-family: "Staatliches", cursive;
}

.contact-details iframe {
  padding: 1rem;
  width: 225px;
  height: 168.75px;
  margin-bottom: 4rem;
}

@media screen and (max-width: 350px) {
  .contact-container {
    width: 90%;
  }
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
  }
  header a h1 {
    font-size: 2.5rem;
  }
  nav {
    position: static;
    overflow: hidden;
    background: unset;
    bottom: unset;
    width: unset;
  }

  nav #myLinks a h4 {
    font-size: 2rem;
    margin: 0 2rem;
  }

  nav a h4:hover {
    text-decoration: underline;
  }

  .contact-container {
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .contact-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/wood-_texture.jpg);
    border-radius: 15px;
    background-size: cover;
    filter: grayscale(1) brightness(0.75);
  }

  .contact-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr;
  }

  .item-b {
    display: block;
  }

  .contact-headers h2 {
    margin-top: 100px;
  }

  .message-form::before {
    background-image: none;
    box-shadow: none;
  }

  .message-form input,
  textarea,
  button {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
  }

  .message-form {
    box-shadow: none;
  }

  .contact-details h2,
  address {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .contact-details iframe {
    width: 300px;
    height: 225px;
    margin: 0;
  }
}
