html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #212121;
  color: white;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 15%;
  background: linear-gradient(180deg, #a32e2e 0%, rgba(102, 39, 39, 0) 100%);
}

nav #myLinks {
  display: flex;
  justify-content: flex-end;
}

nav #myLinks a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  padding: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a h4 {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}

nav a.icon {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

header a {
  text-decoration: none;
  color: white;
}

header a h1 {
  float: left;
  font-family: "Underdog", cursive;
  font-size: 2.5rem;
  padding: 1.5rem;
}

nav a.icon {
  display: none;
}

.contact-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 75%;
  height: 750px;
  font-family: "Staatliches", cursive;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  letter-spacing: 0.1rem;
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/wood-_texture.jpg);
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(1) brightness(0.75);
}

.contact-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  place-items: center;
  height: 100%;
}

.contact-headers h2 {
  font-size: 3rem;
  padding: 0;
  margin-top: 100px;
}

.message-form input,
textarea,
button {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  background: #212121;
  color: white;
  border: 5px solid #e5e5e5;
  outline: none;
  border-radius: 25px;
  width: 200px;
  font-family: sans-serif;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  transition: ease-in-out 0.3s;
}

.message-form input:focus,
textarea:focus {
  background-color: black;
}

.message-form textarea {
  height: 125px;
}

.message-form label {
  font-size: 1.2rem;
  position: relative;
}

.message-form button {
  box-sizing: content-box;
  font-family: "Staatliches", cursive;
  font-size: 1.5rem;
  color: white;
  border: 5px solid #a32e2e;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.message-form button:hover {
  background: black;
}

.contact-details h2 {
  padding: 1rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  header a h1 {
    font-size: 2rem;
  }

  nav #myLinks a h4 {
    font-size: 1.5rem;
  }

  .contact-headers h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  header a h1 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    float: none;
  }

  nav #myLinks {
    justify-content: center;
  }

  nav #myLinks a h4 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 0.1rem;
  }

  header a h1 {
    font-size: 1.5rem;
  }

  .contact-container {
    box-shadow: none;
    margin: auto;
    padding: 0;
  }

  .contact-container::before {
    background: none;
  }

  .contact-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .item-b {
    display: none;
  }

  .contact-headers h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .message-form {
    position: relative;
    padding: 2rem;
    width: 75%;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .message-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/wood-_texture.jpg);
    border-radius: 15px;
    background-size: cover;
    filter: grayscale(1) brightness(0.75);
  }

  .message-form input,
  textarea,
  button {
    position: relative;
    padding: 0.8rem;
    margin: 1.5rem auto;
    width: 175px;
  }

  .contact-details h2 {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
