html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background: #212121;
  color: white;
}

nav {
  position: fixed;
  overflow: hidden;
  background: linear-gradient(0deg, #a32e2e 0%, rgba(33, 33, 33, 1) 100%);
  bottom: 0;
  width: 100%;
  z-index: 5;
}

nav #myLinks {
  display: flex;
  justify-content: space-around;
}

nav #myLinks a h4 {
  font-family: "Staatliches", cursive;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: linear-gradient(180deg, #a32e2e 0%, rgba(102, 39, 39, 0) 100%);
  position: relative;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header a h1 {
  font-family: "Underdog", cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.menu-container {
  height: 450px;
  width: 90%;
}

.menu-container {
  position: relative;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.menu-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/wood-_texture.jpg);
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(1) brightness(0.75);
}

.tab-container {
  width: 100%;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: inline-block;
  padding: 0.5rem 0;
}

.tab-container button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  font-family: "Staatliches", cursive;

  color: white;
}

.tab-container button.active {
  background-color: #a32e2e;
}

.tabcontent {
  display: none;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Underdog", cursive;
  text-align: center;
  color: white;
  animation: fadeEffect 1s; /* 
  Fading effect takes 1 second */
}

.tabcontent img {
  width: min(200px, 75%);
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.tabcontent section {
  padding: 0.3rem;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-container button:hover {
  text-decoration: underline;
  transform: scale(1, 1);
}

.headline-text {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 8rem;
  padding: 10rem 6rem 0 6rem;
  margin: 1rem;
}

.footer-container {
  text-align: center;
  margin-top: 12rem;
}

.social-icon-set {
  margin: auto;
  text-align: center;
  width: 300px;
  padding: 0.8rem;
  background-color: #a32e2e;
  border-radius: 50px;
}

.social-icon-set img {
  width: 60px;
  margin: 0.2rem;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
}

.social-icon-set img:hover {
  transform: scale(1.1, 1.1);
}

.footer-information {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
  }
  header a h1 {
    font-size: 2.5rem;
  }

  nav {
    position: static;
    overflow: hidden;
    background: unset;
    bottom: unset;
    width: unset;
  }

  nav #myLinks a h4 {
    font-size: 2rem;
    margin: 0 2rem;
  }

  nav a h4:hover {
    text-decoration: underline;
  }
  .menu-container {
    width: 80%;
    height: 650px;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    width: unset;
  }

  .tab-container button {
    margin: 2rem 1rem;
    font-size: 1.5rem;
    padding: 14px 16px;
    display: inline-block;
  }

  .tabcontent {
    font-size: 1.2rem;
  }

  .tabcontent img {
    width: 75%;
  }

  .tabcontent section {
    padding: 0.8rem;
  }
}

@media screen and (max-width: 800px) and (min-height: 736px) {
  .menu-container {
    height: 550px;
  }

  .tabcontent {
    height: 400px;
  }
}

@media screen and (max-width: 800px) and (min-height: 800px) {
  .menu-container {
    height: 600px;
  }

  .tabcontent {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 200px;
    padding: 0.5rem;
    font-size: 1.1rem;
    height: 500px;
  }

  .tabcontent section {
    padding: 0.2rem;
  }

  .tabcontent img {
    width: min(300px, 50%, 25vh);
  }
}

@media screen and (max-width: 800px) and (min-height: 850px) {
  .menu-container {
    height: 650px;
  }

  .tabcontent img {
    width: min(300px, 50%, 20vh);
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    width: 75%;
    height: 750px;
  }

  .tab-container button {
    font-size: 2rem;
    margin: 2rem 3rem;
  }

  .tabcontent {
    font-size: 1.5rem;
  }

  .tabcontent img {
    width: 50%;
  }
}
