html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background: #212121;
  color: white;
}

.main-container {
  position: absolute;
  width: 100%;
  height: 15%;
  background: linear-gradient(180deg, #a32e2e 0%, rgba(102, 39, 39, 0) 100%);
}

nav #myLinks {
  display: flex;
  justify-content: flex-end;
}

nav #myLinks a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  padding: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a h4 {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

header a {
  text-decoration: none;
  color: white;
}

header a h1 {
  float: left;
  font-family: "Underdog", cursive;
  font-size: 2.5rem;
  padding: 1.5rem;
}

.menu-container {
  position: relative;
  width: 75%;
  height: 750px;
  margin: auto;
  text-align: center;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.menu-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/wood-_texture.jpg);
  border-radius: 15px;
  background-size: cover;
  filter: grayscale(1) brightness(0.75);
}

.tab-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.tab-container button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 2rem 3rem;
  padding: 14px 16px;
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: white;
}

.tab-container button.active {
  background-color: #a32e2e;
}

.tabcontent {
  display: none;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  position: relative;
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Underdog", cursive;
  text-align: center;
  color: white;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.tabcontent img {
  width: 50%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

.tabcontent section {
  padding: 0.8rem;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-container button:hover {
  text-decoration: underline;
  transform: scale(1, 1);
}

.headline-text {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 8rem;
  padding: 10rem 6rem 0 6rem;
  margin: 1rem;
}

.footer-container {
  text-align: center;
  margin-top: 12rem;
}

.social-icon-set {
  margin: auto;
  text-align: center;
  width: 300px;
  padding: 0.8rem;
  background-color: #a32e2e;
  border-radius: 50px;
}

.social-icon-set img {
  width: 60px;
  margin: 0.2rem;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
}

.social-icon-set img:hover {
  transform: scale(1.1, 1.1);
}

.footer-information {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
}

@media screen and (max-width: 1400px) {
  .tab-container button {
    margin: 2rem 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .menu-container {
    width: 80%;
    height: 650px;
  }

  .tab-container button {
    margin: 2rem 1rem;
    font-size: 1.5rem;
  }

  .tabcontent {
    font-size: 1.2rem;
  }

  .tabcontent img {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
    flex-direction: column;
    margin-bottom: 0;
    width: 100%;
  }

  header a h1 {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    float: none;
  }

  nav #myLinks {
    justify-content: center;
  }

  nav #myLinks a h4 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0 0.1rem;
  }

  header a h1 {
    font-size: 1.5rem;
  }

  .menu-container {
    height: 450px;
    width: 90%;
  }

  .tab-container {
    top: 475px;
    left: 0;
    width: 100%;
    position: absolute;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
  }

  .tab-container button {
    margin: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: inline-block;
  }

  .tabcontent {
    font-size: 1.1rem;
    top: 5px;
  }

  .tabcontent img {
    width: 90%;
  }

  .tabcontent section {
    padding: 0.3rem;
  }

  .contact-container {
    box-shadow: none;
    margin: auto;
    padding: 0;
  }

  .contact-container::before {
    background: none;
  }

  .contact-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .item-b {
    display: none;
  }

  .contact-headers h2 {
    margin-top: 0;
    font-size: 3rem;
  }

  .message-form {
    position: relative;
    padding: 2rem;
    width: 75%;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.75);
  }

  .message-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/wood-_texture.jpg);
    border-radius: 15px;
    background-size: cover;
    filter: grayscale(1) brightness(0.75);
  }

  .message-form input,
  textarea,
  button {
    position: relative;
    padding: 0.8rem;
    margin: 1.5rem auto;
    width: 175px;
  }

  .contact-details h2 {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
}
