html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: white;
  background-image: url(./images/Smokehouse_Home_Background.webp);
  background-size: cover;
  background-attachment: fixed;
}

nav {
  position: fixed;
  overflow: hidden;
  background-color: #212121;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

nav #myLinks {
  display: flex;
  justify-content: space-around;
}

nav #myLinks a h4 {
  font-family: "Staatliches", cursive;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0;
  margin: 1rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background: linear-gradient(180deg, #a32e2e 0%, rgba(102, 39, 39, 0) 100%);
  position: relative;
  flex-direction: column;
  margin-bottom: 0;
  width: 100%;
}

header a {
  text-decoration: none;
  color: white;
}

header a h1 {
  font-family: "Underdog", cursive;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.headline-text {
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.3rem;
}

.headline-text span {
  font-size: 10rem;
}

.headline-text span::after {
  content: "\A";
  white-space: pre;
}

.footer-container {
  text-align: center;
  margin-top: 0;
}

.social-icon-set {
  margin: 1rem auto;
  text-align: center;
  width: 200px;
  padding: 0.5rem;
  background-color: #a32e2e;
  border-radius: 50px;
}

.social-icon-set img {
  width: 50px;
  margin: 0.3rem;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
}

.social-icon-set img:hover {
  transform: scale(1.1, 1.1);
}

.footer-information {
  display: none;
  font-family: "Staatliches", cursive;
  font-size: 2.5rem;
  font-style: normal;
}

.footer-information a {
  color: white;
  font-family: "Staatliches", cursive;
}

.footer-popup-icon {
  display: inline-block;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-text {
  visibility: hidden;
  width: 280px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -148px;
  font-size: 2rem;
  font-family: "Staatliches", cursive;
  font-style: normal;
}

.popup-text a {
  color: white;
  font-family: "Staatliches", cursive;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.footer-popup-icon .popup-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) and (min-height: 800px) {
  .headline-text span {
    font-size: 14rem;
  }

  .headline-text {
    font-size: 5rem;
  }

  .social-icon-set {
    width: 250px;
    padding: 0.5rem;
  }
  .social-icon-set img {
    margin: 0.5rem;
  }
}

@media screen and (min-width: 800px) {
  header {
    flex-direction: row;
  }
  header a h1 {
    font-size: 2.5rem;
  }

  .headline-text span::after {
    content: "";
    white-space: unset;
  }

  .headline-text span {
    font-size: unset;
  }

  nav {
    position: static;
    overflow: hidden;
    background-color: unset;
    bottom: unset;
    width: unset;
  }

  nav #myLinks a h4 {
    font-size: 2rem;
    margin: 0 2rem;
  }

  nav a h4:hover {
    text-decoration: underline;
  }

  .social-icon-set {
    margin: auto;
    width: 300px;
    padding: 0.8rem;
  }

  .social-icon-set img {
    width: 60px;
    margin: 0.2rem;
  }

  .footer-container {
    margin-top: 8rem;
    text-align: center;
  }

  .footer-information {
    display: block;
  }

  .footer-popup-icon {
    display: none;
  }

  .headline-text {
    font-size: 7rem;
    padding: 8rem 4rem 0 4rem;
  }
}

@media screen and (min-width: 1000px) {
  .headline-text {
    font-size: 10rem;
    padding: 10rem 6rem 0 6rem;
    margin: 1rem;
  }
}
